@charset "UTF-8";

/* sub */
#sub {
	display: flex;
	flex-direction: column;
	padding-top: 40px;
	width: 1440px;
	height: 96px;
	margin: 0 auto;
}

#sub .main-sub {
	font-weight: bold;
}

/* contents */
#no-pet-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 200px;
	margin: 0 auto;
}

.no-pet {
	align-self: center;
}

#no-pet-wrapper button {
	width: 118px;
	height: 42px;
	font-weight: bold;
	border-radius: 20px;
	background-color: #113f8a;
	color: #FFFFFF;
	margin-top: 52px;
	margin-bottom: 187px;
}