@charset "UTF-8";

/* sub */
#sub {
	display: flex;
	flex-direction: column;
	padding-top: 40px;
	width: 1440px;
	height: 96px;
	margin: 0 auto;
}

#sub .main-sub {
	font-weight: bold;
}

.sub-sub {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
}

.sub-sub a:hover {
	color: #FFC303;
	font-size: bold;
}

.current-category {
	color: #ffc303;
	font-weight: bold;
	text-decoration: none;
}

/* contents */
#notification {
	display: flex;
	flex-direction: column;
	margin-top: 120px;
	align-items: center;
}

#notification .not1 {
	font-size: 20px;
	line-height: 30px;
	font-weight: bold;
	margin-right: 420px;
}

#notification .not2 {
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 10px;
	margin-right: 265px;
}

#notification .alarm-agree .toggle .set-alarm {
	display: flex;
	flex-direction: column;
	border: 1px solid #828282;
	border-radius: 20px;
	width: 580px;
	height: 200px;
	padding: 60px 32px 59px 32px;
	box-sizing: border-box;
	align-items: left;
	gap: 18px;
	align-content: center;
}

.set-alarm {
	display: flex;
	justify-content: center;
}

.set-alarm li {
	display: flex;
	list-style: none;
	margin: 0 auto;
}

#notification .alarm-agree {
	text-align: center;
}

#notification .alarm-agree .toggle {
	position: relative;
}

p {
	font-size: 20px;
	line-height: 30px;
}

.toggle input {
	display: none;
}

.toggle-label1 {
	display: flex;
	width: 60px;
	height: 30px;
	background: #cccccc;
	border-radius: 20px;
	cursor: pointer;
	position: relative;
	margin-left: 80px;
	padding-left: 2px;
	box-sizing: border-box;
}

.toggle-label1:after {
	content: "";
	position: absolute;
	width: 26px;
	height: 26px;
	background: white;
	border-radius: 50%;
	transition: all 0.3s;
	margin-top: 1.5px;
	margin-left: 1px;
}

.toggle-label2 {
	display: flex;
	width: 60px;
	height: 30px;
	background: #cccccc;
	border-radius: 20px;
	cursor: pointer;
	position: relative;
	margin-left: 94px;
	padding-left: 2px;
	box-sizing: border-box;
}

.toggle-label2:after {
	content: "";
	position: absolute;
	width: 26px;
	height: 26px;
	background: white;
	border-radius: 50%;
	transition: all 0.3s;
	margin-top: 1.5px;
	margin-left: 1px;
}

#toggle-checkbox1:checked+.toggle-label1 {
	background: #FFC303;
}

#toggle-checkbox1:checked+.toggle-label1:after {
	transform: translateX(30px);
}

#toggle-checkbox2:checked+.toggle-label2 {
	background: #FFC303;
}

#toggle-checkbox2:checked+.toggle-label2:after {
	transform: translateX(30px);
}

.agree-marketing {
	margin-top: 10px;
	font-size: 12px;
	line-height: 18px;
	margin-right: 255px;
	margin-bottom: 187px;
}