@charset "UTF-8";


/* sub */
#sub {
	display: flex;
	flex-direction: column;
	padding-top: 40px;
	width: 1440px;
	height: 96px;
	margin: 0 auto;
}

#sub .main-sub {
	font-weight: bold;
}

.sub-sub {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
}

.sub-sub a:hover {
	color: #FFC303;
	font-size: bold;
}

.current-category {
	color: #ffc303;
	font-weight: bold;
	text-decoration: none;
}

/* contents */
#likes {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 60px;
	margin-top: 100px;
	margin-bottom:187px;
}

#likes img {
	width: 192px;
	height: 192px;
	box-sizing: border-box;
	border-radius: 20px;
	justify-content: space-between;
	margin: 15px 21px 0 0;
}

.likes-shopping span {
	font-weight: bold;
}

.likes-community span {
	font-weight: bold;
}
