@charset "UTF-8";

@keyframes fade_up { 
	0% {
	opacity: 0;
	transform: translateY(10%);
}


to {
	opacity: 1;
	transform: translateY(0);
}

}
* {
	box-sizing: border-box;
}

body {
	display: flex;
	align-items: center;
	flex-direction: column;
}

/* contents */
#unsubscribe-container {
	display: block;
	margin-top: 100px;
	margin-bottom: 187px;
}

.unsubscribe-text {
	font-weight: bold;
}

#unsubscribe-box {
	display: flex;
	flex-direction: column;
	border: solid 1px #828282;
	border-radius: 20px;
	margin: 0 auto;
	width: 954px;
	height: 212px;
	justify-content: center;
	padding-left: 30px;
	margin-top: 10px;
}

.back {
	background-color: #113f8a;
	color: #FFFFFF;
	border-radius: 20px;
	width: 90px;
	height: 36px;
	margin: 30px 0 0 380px;
}

.confirm {
	border: solid 1px #828282;
	background-color: #FFFFFF;
	border-radius: 20px;
	width: 90px;
	height: 36px;
}

/* 쿠폰 팝업*/
.popup-button img {
	border: none;
	cursor: pointer;
}

/* The Modal (background) */
.modal {
	display: none;
	/* Hidden by default */
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	/* Black with opacity */
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Modal Content */
.modal-content {
	justify-content: center;
	flex-direction: column;
	background-color: #fff;
	border-radius: 10px;
	width: 416px;
	height: 656px;
	text-align: center;
	position: relative;
	animation: fadeIn 0.3s ease-in-out;
}

.modal-content img {
	padding: 60px 110px;
}

.modal-content span:nth-child(1) {
	align-items: center;
	padding: 10px 80px;
}

.modal-content span:nth-child(2) {
	align-items: center;
	padding: 10px 80px;
}

/* 	.last-confirm button{
		boder: none;
		background-color: #ffc303;
	} */
.last-confirm1 {
	margin-top: 20px;
	border: none;
	background-color: #ffc303;
	border-radius: 20px;
	width: 245px;
	height: 58px;
}

.last-confirm2 {
	margin-top: 10px;
	border: solid 1px #828282;
	background-color: #ffffff;
	border-radius: 20px;
	width: 245px;
	height: 58px;
}

.modal-content button::after {
	border-radius: 20px;
	background-color: #113f8a;
	color: white;
	border: none;
}

/* Add animation for opening modal */
@keyframes fadeIn {from { opacity:0;
	transform: scale(0.9);
}

to {
	opacity: 1;
	transform: scale(1);
}

}

/* Close Button */
.close-button {
	position: absolute;
	top: 10px;
	right: 15px;
	background-color: transparent;
	border: none;
	font-size: 18px;
	cursor: pointer;
}