@charset "UTF-8";

    @keyframes fade_up {
        0% {
            opacity: 0;
            transform: translateY(10%);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    body {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

 

    /* contents */

	 .sub {
        display: flex;
        flex-direction: column;
        padding-top: 40px;
        width: 1440px;
        height: 96px;
        margin: 0 auto;
        font-weight: bold;
        margin-bottom:50px;
    }
  
    

    #animals {
        display: flex;
        justify-content: center;
        margin-bottom:187px;
    }

    #submit-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 161px;
        height: 42px;
        background-color: #1c4da0;
        border-radius: 20px;
        color: white;
        margin-left: 700px;
    }

    #mydog {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        margin-right: 50px;
        margin-top: 60px;
    }

    .star {
        margin-bottom: 40px;
        margin-top: 20px;
        margin-left: 199px;
        transition: fill 0.3s ease;
        cursor: pointer;
    }

    .card {
        width: 270px;
        height: 430px;
        background-color: white;
        border: 1px solid #ccc;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    input[type="file"] {
        display: none;
    }

    .profile-pic {
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 25px;
        border: 1px solid #131313;
    }

    .profile-pic img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
    }

    .name {
        font-weight: bold;
        margin-bottom: 20px;
    }

    .edit-button{
        background-color: #1c4da0;
        color: white;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        width: 96px;
        height: 32px;
        margin-top:10px;
    }
   

    #mydog button {
        background-color: #1c4da0;
        color: white;
        border: none;
        border-radius: 20px;
        cursor: pointer;
    }

