

  /* 장바구니 */
main {
    padding: 20px;
    max-width: 1200px;
    margin: 50PX auto;
}
.cart{
	font-weight: bold;
}

.cart-pay{
	font-weight: bold;
}

.cart-section {
   	display: flex;
   	flex-direction: column;
   	margin-top: 65px;
   	gap: 55px;
}
.all {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.check-delete {
    width: 79px;
    height: 30px;
    border-radius: 20px;
    background-color: #FFFFFF;
    border: solid;
    color: #828282;
}

.checkbox-label {
    display: flex;
    align-items: flex-start;
}

.item-checkbox {
    margin: 0; 
    padding: 0; 
}

.item-checkbox {
    width: 20px;
    height: 20px;
    appearance: none;
    border: 2px solid #113F8A;
    position: relative;
    margin-bottom: 55px;
        margin-right: 10px;
}
.item-checkbox:checked {
    background-color: #113F8A;
}
.item-checkbox:checked::before {
    content: '✔';
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
}

.cart-item {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
}
.cart-item .item-checkbox {
    position: relative;
    bottom: 145px;
    margin-right: 53px;
}

.cart-item img {
    width: 220px;
    height: 220px;
    margin-right: 20px;
    margin-bottom: 96px;
}
.product-info h3 {
    font-size: 16px;
    margin-bottom: 5px;
}
.price {
    font-size: 20px;
    margin-bottom: 15px;
}
button {
  border: none; 
  background: transparent; 
}

.quantity-button {
    margin-left: auto;
    display: flex;
    border-radius: 20px;
    align-items: center;
    background-color: #888888;
    width: 118px;
    height: 35px;
    border: solid 1px #333;
    justify-content: space-between;
}
.quantity-control button{
  width: 30px;
  height: 30px;
  border: none; 
  background: none;
  inline-size: auto;
  font-size: 25px; 
  color: #FFFFFF
}

.quantity-input {
    text-align: center;
    width: 50px;
    margin: 0 5px; 
    padding: 5px;
    border: none;
    background: none; 
    border-radius: 20px; 
    color: #FFFFFF;
}

.payment-info {
    margin-top: 40px;
    padding: 20px;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
}
.summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 18px auto;
    width: 938px;
    fill: #000000;
    font-weight: bold;
}
.pay-summary {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    width: 938px;
    margin-bottom: 50px;
    gap: 120px;
    fill: #000000;
    font-weight: bold;
}
.coin {
    margin-left: 109px;
    fill: #000000;
    font-weight: bold;
}
.coupon-check {
    width: 464px;
    height: 55px;
    border-radius: 20px;
    position: relative;
    bottom: 67px;
    left: 603px;
}
.button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}
.check-button, .payment-button {
    padding: 10px;
    border-radius: 20px;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 220px;
    height: 44px;
}
.check-button {
    background-color: #FFFFFF;
    color: #888888;
    border: solid 1px;
    font-size: 16px;
}
.payment-button {
    background-color: #113F8A;
}
