@charset "UTF-8";

@keyframes fade_up {
	0% { opacity: 0; transform: translateY(10%); }
	to { opacity: 1; transform: translateY(0); }
}

body {
  font-family: 'SpoqaHanSansNeo-Regular';
}

/* 헤더 부분 */

.header-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#header-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1440px;
  height: 151px;
  margin: 0 auto;
}

#header-wrap #border{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

#header-wrap #nav { 
  position: relative;
  display: flex;
  width: 1440px;
  margin: 0 auto;
  /* 헤더 윗공간 조절 */
  margin-top: 20px;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 15px;
}

#header-wrap #nav .sector {
  position: absolute;
  line-height: 20px;
  margin-left: 10px;
  /* border: 1px solid #818181; */
  background-color: #818181;
  height: 55px;
  width: 0.1px;
  top: 34px;
  right: 96px;
}

#header-wrap #nav .left {
  width: 236px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header-wrap #nav .left img{ 
  width: 236px;
  height: 60px;
}

#header-wrap #nav .right {
  display: flex; 
  gap: 26px;
  align-items: end;
  padding-top: 44px;
}

#header-wrap #nav .right .icons{
  display: flex;
  gap: 26px;
}

#header-wrap #nav .right .icons img{ 
  display: flex;
  width: 30px;
  height: 30px;
 }

#header-wrap #nav .right .login { 
  display: flex;
  font-size: 16px;
  margin-left: 26px;
}

#header-wrap #nav .right .login a {
  display: flex;
  width: 100%;
  height: 100%;
  text-align: center;
  justify-content: center;
  text-decoration-line:none;
  color: black;
  padding-right: 31px;
}

/* 메뉴부분 */

.menu-container{
  display: flex;
  flex-direction: column;
  flex: 1;
  z-index: 10;
}

#sector {
  display: flex;
  width: 100%;
  height: 0.1px;
  background-color:#818181 ;
  z-index: 50;
}

.menu-wrap {
  display: flex;
  height: 50px;
  font-weight: bold;
  border-top: solid #818181 0.1px;
}

.menu-wrap .menu{
  display: flex;
  align-items: center;
  width: 150px;
  height: 50px;
}

.menu-wrap .menu a:hover{
  color: #FFC303;
}

.sub-menu-wrap {
  display: flex;
}

.sub-menu-wrap ul {
  overflow: hidden;
  height: 0;
}

.sub-menu-wrap .sub-menu {
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  text-align: center;
}

.sub-menu-wrap .sub-menu a:hover {
  color: #FFC303;
}

/* 바디 부분 */

.body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  width: 1440px;
  margin: 0 auto;
  
}

.body-wrap {
  display: flex;
  flex-direction: column;
  /* border: solid 1px black;
  box-sizing: border-box; */
  align-items: left;
  margin: 0 252px;
}



/* 서브 로고 부분 */

.sub-logo {
  display: flex;
  /* height: 85px; */
  /* width: 500px; */
  margin-bottom: 72px;
  margin-top: 72px;
}

.sub-logo img {
  height: 85px;
  width: 85px;
}
.sub-logo p {
  display: flex;
  /* color: red; */
  font-size: 40px;
  font-weight: bold;
  align-items: end;
}

.sub-logo-title-wrap {
  display: flex;
  /* flex-direction: column; */
  /* border: solid black 1px; */
  width: 435px;
  height: 25px;
  font-size: 15px;
  /* color: blue; */
  margin-bottom: 72px;
}

.sub-logo-title ul{
  display: flex;
  width: 100%;
  height: 100%;
  gap: 10px;
  text-align: center;
}

.sub-logo-title .sub-logo-title-menu .sector{
  display: flex;
  height: 80%;
  width: 1.5px;
  background-color: black;
}

.sub-logo-title-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.entire-count {
  display: flex;
  margin-bottom: 35px;
  font-size: 16px;
}

/* 상품 부분 */

.product-wrap {
  display: flex;
  flex-wrap: wrap;
  width: 1204px;
  gap: 40px;
  position: relative;
}

.product-wrap #product-all-wrap {
	display: contents;
	/* display:none; */
}

.product-wrap #feed-wrap {
	display: contents;
	/* display:none; */
}

.product-wrap #toiletries-wrap {
	display: contents;
	display:none;
}

.product-wrap .product-type-name {
	display: flex;
}

.product-wrap .banner img{
	display: flex;
	width: 1000px;
}

/* all 서브랑 타이틀 묶은거 */
.all-sup-title {
  display: flex;
  position: absolute;
  right: 0px;
  top: -60px;
}

.all-category-item {
  list-style: none;
  /* 기본 점 스타일 제거 */
  position: relative;
  margin-bottom: 10px;
  /* 카테고리와 다른 요소 사이 여백 */
  top: 50px;
}

.all-category-title {
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
}

.toggle-icon {
  width: 16px;
  /* 이미지의 너비 */
  height: auto;
  /* 자동으로 비율 맞추기 */
  margin-left: 54px;
}

.all-toggle-icon {
  width: 16px;
  /* 이미지의 너비 */
  height: auto;
  /* 자동으로 비율 맞추기 */
  margin-left: 54px;
}

/* 서브 카테고리 목록 스타일 */
.all-sub-category {
  background-color: white;
  width: 100%;
  position: absolute; /* 상대적 위치 지정 */
  z-index: 1000; /* 다른 요소 위로 올리기 */
}

.all-sub-category p {
  margin: 5px 0;
  padding: 10px;
}

.product-wrap .shopbanner{
  width: 1000px;
  margin: 20px 0px 20px 0px;
}

.product {
  display: flex;
  flex-direction: column;
}


.product .product-image-wrap {
  position: relative;
  border-radius: 20px;
}
.product .product-image-wrap .hover-box {
  display: flex;
  position: absolute;
  width: 220px;
  height: 38px;
  left: 0px;
  bottom: 13px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  gap:30px;
  background-color: #E9E8E4;
  border-radius: 7px;
  opacity:0;
}
.product-image-wrap:hover .hover-box {
  opacity:1;
  animation: fade_up 0.5s;
}

.product .product-image-wrap:hover .hover-box img {
  display: flex;
  width: 20px;
  height: 20px;
  border-radius: 0%;
}

.product .product-image-wrap .hover-box a{
  display: flex;
  flex-direction: column;
  width: 20px;
  height: 20px;
}

.product .product-image-wrap img {
  height: 220px;
  width: 220px;
  margin-bottom: 13px;
  border-radius: 20px;
}

.product .product-image-wrap a {
  width: 220px;
  height: 38px;
  /* border: 2px solid black; */
  box-sizing: border-box;
}

.product .product-image-wrap a img {
  width: 20px;
  height: 20px;
}


.product .product-info {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.product .product-info #product-name {
  font-size: 14px;
}
.product .product-info #product-price {
  font-size: 16px;
  font-weight: bold;
}

.product .product-info .product-star {
  display: flex;
  font-size: 11px;
}
.product .product-info #product-star {
  color: #FFC303;
}
.product .product-info #product-star-count {
  font-size: 11px;
}

.product .product-info .delivery-info {
  display: flex;
  gap : 6px;
}

.product .product-info .delivery-info #product-start {
  font-size: 14px;
  color: #113F8A;
}
.product .product-info .delivery-info #product-limit {
  font-size: 12px;
}
.product .product-info .delivery-info #product-free {
  font-size: 12px;
}


/* 푸터영역 */

footer {
  width: 100%; /* 부모 요소의 너비를 100%로 설정 */
  padding: 20px; /* 패딩 추가 */
  background-color: #f9f9f9; /* 배경색 */
  font-family: Arial, sans-serif; /* 폰트 스타일 */
}
.footer-black{
  color: #000;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
  border-top: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
  padding: 20px 0;
}

.footer-section {
  margin-bottom: 2px; /* 각 섹션 간의 간격 */
}

.footer-section h3 {
  font-size: 18px;
  margin-bottom: 15px;
}

.footer-section p {
  margin: 10px 0; /* 기본 여백 제거 */
  line-height: 1.2; /* 줄 간격 조정 */
  margin: 1px 0;
  white-space: normal; /* 줄바꿈 허용 */
  font-size: 11px;
}

.footer-section ul {
  list-style: none; /* 리스트 점 제거 */
  padding: 0; /* 기본 패딩 제거 */
  margin: 0; /* 기본 마진 제거 */
  line-height: 1.8; /* 줄 간격 설정 (1.8은 글자 크기의 180% 간격) */
}

.footer-section ul li {
  margin-bottom: 10px; /* 리스트 항목 간격 */
  font-size: 12px;
}

.footer-section ul li a {
  text-decoration: none; /* 링크 밑줄 제거 */
  color: #000000; /* 텍스트 색상 */
  font-size: 12px;
}

.contact-info {
  display: flex; /* Flexbox로 가로 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
}

.highlight {
  color: #000000; /* 강조 색상 */
  font-weight: bold; /* 글자 두껍게 */
  font-size: 12px; /* 글자 크기 */
}
.custom-list {
  list-style-type: none; /* 기본 리스트 스타일 제거 */
}

.custom-list li::before {
  content: '•'; /* 리스트 앞에 점 추가 */
  color: #000; /* 점의 색상 */
  font-weight: bold; /* 점 굵게 */
  display: inline-block; /* 점을 인라인으로 표시 */
  width: 13px; /* 점과 텍스트 사이의 간격 조정 */
}

.button-container {
  display: flex; /* 버튼을 가로로 정렬 */
  gap: 10px; /* 버튼 사이 간격 */
  align-items: center; /* 버튼을 텍스트와 수직으로 정렬 *
  margin-top: 10px; /* 버튼 위쪽 마진 */
}

.kakao-button, .email-button {
  background-color: #FFFFFF;
  color: #000000;
  border: solid #E6E6E6;
  margin: 3px;
  margin-bottom: 10px;
  border-radius: 20px;
  cursor: pointer;
  padding: 5px 15px; /* 버튼 내부 여백 */
  font-size: 11px;
}

.kakao-button {
  width: 211px;
  height: 29px;
}

.email-button {
  width: 93px;
  height: 29px;
}

.footer-section {
  width: 100%; /* 부모 요소의 너비를 100%로 설정 */
  padding: 10px; /* 패딩 추가 */
  background-color: #f9f9f9; /* 배경색 */
  font-family: Arial, sans-serif; /* 폰트 스타일 */
}

.footer-section.legal p {
  margin: 0; /* 기본 여백 제거 */
  white-space: nowrap; /* 줄바꿈을 방지합니다. */
  overflow: visible; /* 텍스트가 부모 요소의 경계를 넘어가도 보이게 합니다. */
}

.legal p {
  font-size: 12px;
  color: #767676;
  line-height: 1.5;
}
