/*
*  html5resetcss
*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}

.addPost-wrapper {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}


/* 이미지 전체 래퍼 */

.image-wrapper {

}

/* 더미데이터 */
.main-img-dummy {
  display: block;
  width: 440px;
  height: 440px;
  border-radius: 20px;
  /* border: solid 1px #333; */
  background-color: #d9d9d9;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-img-dummy p {
  width: 440px;
  height: 440px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.sub-images-wrap-dummy{
  display: flex;
  width: 440px;
  height: 100px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sub-img-dummy {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 20px;
  /* border: solid 1px #333; */
  background-color: #d9d9d9;
  background-repeat: no-repeat;
  background-size: cover;
  
}

#dummy-content-wrap {


}


/* 실제 이미지 */
#main-content-wrap{
  display: none;
}


.main-image{
  position: relative;
  /* 태그 추가 버튼 포지션 */
  width: 440px; 
  height: 450px;
}


.close-button {
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
  filter: invert();
}

.main-img {
  display: block;
  width: 440px;
  height: 440px;
  border: solid 1px #333;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
}

.sub-images-wrap{
  display: flex;
  justify-content: space-between;
}

.sub-img {
  display: block;
  width: 100px;
  height: 100px;
  /* border: solid 1px #333; */
  background-color: #D9D9D9;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;
}

#file-upload {
  display: none;
}

.tag-button {
  position: absolute;
  bottom : 15%;
  left: 50%;
  color : white;
  transform: translate(-50%, 0);
}

.tag-popup{
	display: none;
	width: 400px;
	height: 280px;
	position: absolute;
	background-color: white;
	top: 50%;
	left: 50%;
	padding : 16px;
	border-radius : 20px;
	border: solid 1px #828282;
	z-index:1000;
}

.tag-popup .tag-product{
	display : flex; 
	flex-direction : column;
	justify-content: center;
	align-items: center;
}

.tag-popup .search-wrap{
	display:flex;
	justify-content: space-between;
	align-items: center;
	margin : 0 0 12px 0;
}

.tag-popup .tag-product > p{
	font-size: 12px;
	color: #FFC303;
}
.tag-popup .search-wrap > p {
	white-space: nowrap;
	font-size:12px;
	margin: 0 0 0 12px;
}
 

.tag-popup .taged-products{
	width : 100%;
	height: 160px;
    overflow: auto;
}


.tag-popup .taged-products > div {
	margin : 0 0 6px 0;
}
.tag-popup .taged-product-wrap{
	display: flex;
    flex-direction: column;
    gap: 6px;
}


.tag-popup .taged-product-title{
	flex : 1;
}

.tag-popup .taged-product{
    display: flex;
}

.tag-popup .taged-product-image{
	width : 70px;
	height : 70px;
	border-radius : 20px;
	overflow : hidden;
	background-color : #ddd;
	margin :  0 12px 0 0;
}

.tag-popup .taged-product-image img{
	width : 100%;
}

.tag-popup .taged-product-button {
	width : 68px;
	height : 28px;
	border-radius : 20px;
	border: solid 1px #828282;
}

.tag-popup .search{
	width : 340px;
	height : 54px;
	border-radius: 20px;
  	border: solid 1px #828282;
  	padding : 16px;
}
/* 글 작성하는 칸 */

.writer-box {
  width: 440px;
  height: 500px;
  border-radius: 20px;
  border: solid 1px #828282;
}

/* 전체 업로드 래퍼! */

.post-wrapper {
  width: 900px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}

/* 포스트 박스 내부 창 */

textarea {
  margin-top: 20px;
  margin-left: 20px;
  width: 400px;
  height: 460px;
  border: none;
  resize: none;
  background-color: transparent;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -3%;
  color: #818181;
}

textarea:focus {
  outline: none;
}

.upload-wrapper {
  width: 900px;
  height: 570px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content:space-between;  
  position: relative;
  margin: 100px 0;
}

.upload {
	display: block;
	width: 68px;
	height: 30px;
	border-radius: 20px;
	color: #FFFFFF;
	background-color: #113F8A;
	cursor: pointer;
	margin: 0 0 20px auto;
}

.disable {
  display: none;
}

.enable {
  display: flex;
}