<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="myhome">

	<update id="updatePassword" parameterType="com.app.vo.MemberVO">
    	UPDATE TBL_MEMBER
    	SET MEMBER_PASSWORD = #{memberPassword}
    	WHERE ID = #{id}
	</update>
	
	 <select id="selectPetKinds" resultType="string">
        SELECT PET_KIND 
        FROM TBL_PET
    </select>
    
	<select id="selectPetAll" parameterType="Long" resultType="PetVO">
    	SELECT ID, MEMBER_ID, PET_KIND, PET_IMAGE, PET_NAME,
    	PET_GENDER, PET_BREED, PET_BIRTH, PET_VET, PET_WEIGHT, PET_NEUTER
    	FROM TBL_PET
    	WHERE MEMBER_ID = #{memberId}
    </select> 
	
	<insert id="insertPet" parameterType="PetVO">
		INSERT INTO TBL_PET(ID, MEMBER_ID, PET_KIND, PET_IMAGE, PET_NAME, PET_GENDER, PET_BREED, PET_BIRTH, PET_VET, PET_WEIGHT, PET_NEUTER)
		VALUES(PET_SEQ.NEXTVAL, #{memberId}, #{petKind}, #{petImage}, #{petName}, #{petGender}, #{petBreed}, #{petBirth}, #{petVet}, #{petWeight}, #{petNeuter})
	</insert>
	
	<update id="updatePet" parameterType="PetVO">
		UPDATE TBL_PET
		SET PET_NAME = #{petName}, PET_GENDER = #{petGender}, PET_BREED = #{petBreed}, PET_BIRTH = #{petBirth}, PET_WEIGHT = #{petWeight}, PET_NEUTER = #{petNeuter}, PET_VET = #{petVet}
		WHERE ID = #{id}
	</update>
	
	<select id="selectPetId" resultType="PetDTO">
		SELECT ID, MEMBER_ID, PET_KIND, PET_IMAGE, PET_NAME, PET_GENDER, PET_BREED, PET_BIRTH, PET_VET, PET_WEIGHT, PET_NEUTER
		FROM TBL_PET TBP
		JOIN TBL_MEMBER TBM
		ON TBP.MEMBER_ID = TBM.ID
		AND TBM.ID = #{memberId}
		ORDER BY TBP.ID
	</select>
		
	<delete  id="deletePet">
		DELETE FROM TBL_PET
		WHERE ID = #{id}
	</delete>
	
</mapper>