<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="order">
	<select id="select" parameterType="Long" resultType="orderVO">
		SELECT ID, MEMBER_ID, PRODUCT_ID, ORDER_NUMBER, ORDER_DATE, PRODUCT_COUNT, TOTAL_PRICE
		FROM TBL_ORDER
		WHERE ID = #{id}
	</select>

	<insert id="insert" parameterType="OrderVO">
		INSERT INTO TBL_ORDER(ID, MEMBER_ID, PRODUCT_ID, ORDER_NUMBER, PRODUCT_COUNT)
		VALUES(ORDER_SEQ.NEXTVAL, #{memberId}, #{productId}, #{orderNumber}, #{productCount})
	</insert>
	
	<select id="selectByMember" resultType="OrderDTO">
		SELECT TBO.ID, PRODUCT_ID ,PRODUCT_NAME, PRODUCT_PRICE, MEMBER_NICKNAME,
		MEMBER_ID, MEMBER_EMAIL, PRODUCT_COUNT, PRODUCT_COUNT * PRODUCT_PRICE AS TOTAL_PRICE
		FROM TBL_ORDER TBO
		JOIN TBL_MEMBER TBM
		ON TBO.MEMBER_ID = TBM.ID
		JOIN TBL_PRODUCT TBP
		ON TBO.PRODUCT_ID = TBP.ID
		AND TBM.ID = #{memberId}
		ORDER BY TBO.ID DESC
	</select>
	
	<select id="selectById" resultType="_int">
		SELECT PRODUCT_COUNT FROM TBL_ORDER
		WHERE ID = #{id}
	</select>
	
	
	<delete id="delete">
		DELETE FROM TBL_ORDER
		WHERE ID = #{id}
	</delete>
	
	<select id="selectBySeller" resultType="CancleProductDTO">
		SELECT TBO.ID, SELLER_ID, MEMBER_ID, PRODUCT_ID, ORDER_NUMBER, ORDER_DATE, PRODUCT_COUNT,
		SELLER_EMAIL, SELLER_PASSWORD, SELLER_NAME, SELLER_PHONE, SELLER_SMS, SELLER_EMAILCHECK,
		MEMBER_IMAGE, MEMBER_NICKNAME, MEMBER_EMAIL, MEMBER_PHONE, MEMBER_ADDRESS, MEMBER_SMS, MEMBER_EMAILCHECK,
		PRODUCT_NAME, PRODUCT_PRICE, PRODUCT_IMAGE, PRODUCT_CODE, PRODUCT_TYPE,PRODUCT_CATEGORY_NAME,PRODUCT_DETAIL,
		PRODUCT_SUB_IMAGE1, PRODUCT_SUB_IMAGE2, PRODUCT_SUB_IMAGE3, PRODUCT_COUNT * PRODUCT_PRICE AS TOTAL_PRICE
		FROM TBL_ORDER TBO
		JOIN TBL_MEMBER TM 
		ON TBO.MEMBER_ID = TM.ID
		JOIN TBL_PRODUCT TP 
		ON TBO.PRODUCT_ID = TP.ID
		JOIN TBL_SELLER TS 
		ON TP.SELLER_ID = TS.ID AND TS.ID = #{sellerId}
		ORDER BY TBO.ID DESC
	</select>
	
	<select id="selectByDate" parameterType="map" resultType="OrderDTO">
		SELECT 
			ORDER_TOTAL_COUNT,
			ORDER_TOTAL_PRICE,
			ORDER_DATE
		FROM(
			SELECT 
				SUM(PRODUCT_COUNT) AS ORDER_TOTAL_COUNT,
				SUM(PRODUCT_COUNT * PRODUCT_PRICE) AS ORDER_TOTAL_PRICE,
				TBO.ORDER_DATE
			FROM TBL_ORDER TBO
			JOIN TBL_MEMBER TM 
			ON TBO.MEMBER_ID = TM.ID
			JOIN TBL_PRODUCT TP
			ON TBO.PRODUCT_ID = TP.ID
			JOIN TBL_SELLER TS 
			ON TP.SELLER_ID = TS.ID
			WHERE TS.ID = #{sellerId}
			AND TBO.ORDER_DATE BETWEEN TO_DATE(#{startDate}, 'YYYY-MM-DD') 
			AND TO_DATE(#{endDate}, 'YYYY-MM-DD')
			GROUP BY TBO.ORDER_DATE
		)
		ORDER BY ORDER_DATE DESC
	</select>
	
	
	
</mapper>