<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="product">
	<insert id="insert" parameterType="ProductVO">
		INSERT INTO TBL_PRODUCT(ID, SELLER_ID, PRODUCT_NAME, PRODUCT_PRICE, PRODUCT_AGE, PRODUCT_IMAGE,
		PRODUCT_CODE, PRODUCT_STOCK, PRODUCT_TYPE, PRODUCT_CATEGORY_NAME, PRODUCT_DETAIL,
		PRODUCT_SUB_IMAGE1, PRODUCT_SUB_IMAGE2, PRODUCT_SUB_IMAGE3)
		VALUES(PRODUCT_SEQ.NEXTVAL, #{sellerId}, #{productName}, #{productPrice}, #{productAge}, #{productImage},
		#{productCode}, #{productStock}, #{productType}, #{productCategoryName}, #{productDetail},
		#{productSubImage1}, #{productSubImage2}, #{productSubImage3})
	</insert>

	<select id="select" parameterType="Long" resultType="ProductVO">
		SELECT ID, SELLER_ID, PRODUCT_NAME, PRODUCT_PRICE, PRODUCT_AGE, PRODUCT_IMAGE,
		 PRODUCT_CODE, PRODUCT_DATE, PRODUCT_STOCK, PRODUCT_TYPE, PRODUCT_CATEGORY_NAME, 
		 PRODUCT_EDIT_DATE, PRODUCT_DETAIL, PRODUCT_SUB_IMAGE1, PRODUCT_SUB_IMAGE2, PRODUCT_SUB_IMAGE3
		FROM TBL_PRODUCT
		WHERE ID = #{id}
	</select>
	
	<select id="selectAll" resultType="ProductVO">
		SELECT ID, SELLER_ID, PRODUCT_NAME, PRODUCT_PRICE, PRODUCT_AGE, PRODUCT_IMAGE,
		 PRODUCT_CODE, PRODUCT_DATE, PRODUCT_STOCK, PRODUCT_TYPE, PRODUCT_CATEGORY_NAME, 
		 PRODUCT_EDIT_DATE, PRODUCT_DETAIL, PRODUCT_SUB_IMAGE1, PRODUCT_SUB_IMAGE2, PRODUCT_SUB_IMAGE3
		FROM TBL_PRODUCT
		ORDER BY ID DESC
	</select>

	<update id="update" parameterType="ProductVO">
		UPDATE TBL_PRODUCT
		SET SELLER_ID = #{sellerId},
		 PRODUCT_NAME = #{productName}, 
		 PRODUCT_PRICE = #{productPrice},
		 PRODUCT_AGE = #{productAge},
		 PRODUCT_IMAGE = #{productImage},
		 PRODUCT_STOCK = #{productStock},
		 PRODUCT_DETAIL = #{productDetail},
		 PRODUCT_TYPE = #{productType}, 
		 PRODUCT_CODE = #{productCode},
		 PRODUCT_CATEGORY_NAME = #{productCategoryName}, 
		 PRODUCT_SUB_IMAGE1 = #{productSubImage1}, 
		 PRODUCT_SUB_IMAGE2 = #{productSubImage2}, 
		 PRODUCT_SUB_IMAGE3 = #{productSubImage3}
		WHERE ID = #{id}
	</update>
	
	<delete id="delete" parameterType="Long">
		DELETE FROM TBL_PRODUCT
		WHERE ID = #{id}
	</delete>
	
	<update id="updateStock" parameterType="OrderVO">
		UPDATE TBL_PRODUCT
		SET PRODUCT_STOCK = PRODUCT_STOCK + #{productCount}
		WHERE ID = #{productId}
	</update>
	
	<select id="selectByCategory" parameterType="String" resultType="ProductVO">
		SELECT ID, SELLER_ID, PRODUCT_NAME, PRODUCT_PRICE, PRODUCT_AGE, PRODUCT_IMAGE,
		PRODUCT_CODE, PRODUCT_STOCK, PRODUCT_TYPE, PRODUCT_CATEGORY_NAME, PRODUCT_DETAIL,
		PRODUCT_SUB_IMAGE1, PRODUCT_SUB_IMAGE2, PRODUCT_SUB_IMAGE3
		FROM TBL_PRODUCT
		WHERE PRODUCT_CATEGORY_NAME = #{productCategoryName}
	</select>
	
	<select id="">
		
	
	</select>
	
</mapper>
