<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="seller">
	
	<select id="selectBySellerEmail" resultType="SellerVO">
		SELECT ID, BUSINESS_ID, ADMIN_ID, SELLER_EMAIL, SELLER_PASSWORD,
		 SELLER_NAME, SELLER_PHONE, SELLER_SMS, SELLER_EMAILCHECK
		FROM TBL_SELLER
		WHERE SELLER_EMAIL = #{sellerEmail}
	</select>
	
</mapper>