html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd,
	q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr,
	th, td, article, aside, canvas, details, figcaption, figure, footer,
	header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent
}

body {
	line-height: 1
}

article, aside, details, figcaption, figure, footer, header, hgroup,
	menu, nav, section {
	display: block
}

nav ul {
	list-style: none
}

blockquote, q {
	quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
	content: none
}

a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none
}

mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold
}

del {
	text-decoration: line-through
}

abbr[title], dfn[title] {
	border-bottom: 1px dotted;
	cursor: help
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0
}

input, select {
	vertical-align: middle
}

* {
	box-sizing: border-box;
}

body {
	font-family: "Spoqa Han Sans Neo", sans-serif;
}

img {
	width: 40px;
	height: 40px;
}

.menu-icon {
	cursor: pointer;
}

#frame {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-bottom: 100px;
}

#frame>.menu-wrap {
	display: flex;
	align-items: center;
	width: 1440px;
	margin: 28px 0;
	gap: 72px;
	padding-left: 28px;
	position: relative;
}

#frame>.menu-wrap>span {
	font-weight: bold;
	font-size: 20px;
	margin-top: 4px;
}

#frame>.division-line {
	border: solid 0.1px #828282;
	width: 1440px;
}


.title {
	margin: 43px 0 80px 0;
	display: flex;
	justify-content: space-between;
	width: 1191px;
}

h1 {
	font-size: 40px;
	font-weight: bold;
}


/*****************************************/


.new-add-btn {
	width: 90px;
	height: 30px;
	border: none;
	border-radius: 20px;
	color: white;
	cursor: pointer;
	background-color: #113f8a;
	left: 1082px;
	top: 134px;
}

.notice-search {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 1440px;
}

.search-bar {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 10px;
}

.search-bar label {
	margin-right: 10px;
	font-weight: bold;
}

.search-bar>.search {
	width: 708px;
	height: 60px;
	border-radius: 20px;
	padding: 17px;
}

.buttons {
	display: flex;
	margin: 35px 0 80px 0;
	gap: 10px;
}

.search-bar input {
	width: 708px;
	padding: 8px;
	border: 1px solid #ddd;
	border-radius: 4px;
}

.search-btn {
	width: 90px;
	height: 30px;
	border: solid 1px #888888;
	border-radius: 20px;
	color: #888888;
	cursor: pointer;
	background-color: #fff;
}

.reset-btn {
	width: 90px;
	height: 30px;
	border: solid 1px #888888;
	border-radius: 20px;
	color: #888888;
	cursor: pointer;
	background-color: #fff;
}

.notice-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 1440px;
	margin: 0 auto;
}

table {
	width: 1440px;
	text-align: center;
}

table tr {
	display: flex;
	justify-content: space-between;
}

table tr>th {
	width: 100%;
	border-bottom: solid 0.1px #828282;
	justify-content: center;
	padding-bottom: 28px;
}

table tr>td {
	width: 100%;
	justify-content: center;
	padding: 20px 0;
}

table tr>th:nth-child(1) {
	width: 122px;
	flex-shrink: 0;
	display: flex;
	align-items: center;
}

table tr>th:nth-child(2) {
	width: 244px;
	flex-shrink: 0;
	display: flex;
	align-items: center;
}

table tr>th:nth-child(3) {
	width: 486px;
	flex-shrink: 0;
	display: flex;
	align-items: center;
}

table tr>th:nth-child(4) {
	width: 244px;
	flex-shrink: 0;
	display: flex;
	align-items: center;
}

table tr>th:nth-child(5) {
	width: 220px;
	flex-shrink: 0;
	display: flex;
	align-items: center;
}

table tr>th:nth-child(6) {
	width: 122px;
	flex-shrink: 0;
	display: flex;
	align-items: center;
}

table tr>td:nth-child(1) {
	width: 122px;
	flex-shrink: 0;
	display: flex;
	align-items: center;
}

table tr>td:nth-child(2) {
	width: 244px;
	flex-shrink: 0;
	display: flex;
	align-items: center;
}

table tr>td:nth-child(3) {
	width: 486px;
	flex-shrink: 0;
	display: flex;
	align-items: center;
}

table tr>td:nth-child(4) {
	width: 244px;
	flex-shrink: 0;
	display: flex;
	align-items: center;
}

table tr>td:nth-child(5) {
	width: 220px;
	flex-shrink: 0;
	display: flex;
	align-items: center;
}

table tr>td:nth-child(6) {
	width: 122px;
	flex-shrink: 0;
	display: flex;
	align-items: center;
}

table tbody tr td .image {
	border: none;
	width: 98px;
	height: 98px;
	border-radius: 20px;
	background-color: #828282;
	display: inline-flex;
}

.change-buttons {
	display: flex;
	flex-direction: row;
	gap: 7px;
}

.edit-btn, .delete-btn {
	border: none;
	border-radius: 10px;
	cursor: pointer;
	width: 49px;
	height: 30px;
}

.edit-btn {
	background-color: #888888;
	color: white;
}

.delete-btn {
	border: solid 0.1px #131313;
	color: #131313;
	background-color: #fff;
}

.cancel-btn {
	background-color: #888888;
	color: white;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	width: 49px;
	height: 30px;
}

.check-buttons {
	display: flex;
	gap: 10px;
}


/***************************/


#menu-frame  {
	display: none;
	flex-direction: column;
	width: 1440px;
	align-items: start;
	margin-top: 0px;
	animation: lift-detail 0.1s;
	position: absolute;
	top: 85px;
	left: 30px;
}

.menu-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0;
	margin: 0;
	max-width: 220px;
}

.welcome {
	font-size: 14px;
	text-align: left;
    vertical-align: bottom;
}

.logout {
	font-size: 10px;
	color: #ffc303;
	background-color: white;
	border: none;
	margin-left: auto;
	font-weight: bold;
	cursor: pointer;
	margin-right: 24px;
	vertical-align: bottom;
}

ul {
	list-style: none;
	padding: 0;
	width: 200px;
	position: absolute;
	z-index: 1000;
}

ul>li {
	width: 200px;
}

ul>li>p {
	width: 200px;
	height: 40px;
	background: #828282;
	color: white;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	cursor: pointer;
	padding-left: 15px;
	margin: 16px 0;
}

ul>li>div {
	height: 0;
	overflow: hidden;
	transition: height 0.3s ease;
	padding-left: 15px;
}

ul>li>div>p {
	margin: 10px 0;
	text-align: left;
	padding-left: 10px;
	cursor: pointer;
}